<div class="container">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Informazioni Stampo</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row mt-2 mb-3 align-items-center justify-content-center">
          <div class="col-auto mb-3">
            <div class="image">
              <mat-card style="max-width: 200px;">
                <mat-card-content>
                  <div class="position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle">
                      <button mat-fab color="primary" [disabled]="addressForm.controls['dieData'].disabled"
                        (click)="openDialog()">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                    <img style="width: -webkit-fill-available;" [src]="imageURL">

                    @if (addressForm.controls['dieData'].hasError('required')) {
                    <mat-error>Il disegno dello stampo è <strong>obbligatorio</strong></mat-error>
                    }
                    @else if(addressForm.controls['dieData'].hasError('validDie')) {
                    <mat-error>Il disegno dello stampo non è <strong>completo</strong></mat-error>
                    }
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nome Stampo" formControlName="name">
              @if (addressForm.controls['name'].hasError('required')) {
              <mat-error>Il nome dello stampo è <strong>obbligatorio</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Alias</mat-label>
              <mat-chip-grid #chipGrid aria-label="Inserisci un alias">
                @for (alias of aliases; track alias) {
                <mat-chip-row (removed)="remove(alias)" [editable]="true" (edited)="edit(alias, $event)"
                  [aria-description]="'premi invio per modificare ' + alias">
                  {{alias}}
                  <button matChipRemove [attr.aria-label]="'elimina ' + alias">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                }
                <input placeholder="Nuovo alias..." formControlName="alias" [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)" />
              </mat-chip-grid>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Cliente</mat-label>
              <input type="text" placeholder="Seleziona un cliente" aria-label="Customer" matInput
                formControlName="customer" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                @for (customer of filteredCustomers | async; track customer) {
                <mat-option [value]="customer">{{customer}}</mat-option>
                }
              </mat-autocomplete>
              @if (addressForm.controls['customer'].hasError('required')) {
              <mat-error>Il nome del cliente è <strong>obbligatorio</strong></mat-error>
              }
              @else if (addressForm.controls['customer'].hasError('minlength')) {
              <mat-error>Il nome del cliente deve essere lungo almeno 2 caratteri</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-4">
          <mat-form-field class="col">
            <mat-label>Tipo Stampo</mat-label>
            <mat-select formControlName="dieType">
              @for (dt of DieTypeHelper.getValues(); track dt) {
                <mat-option [value]="dt">{{dt}}</mat-option>
              }
            </mat-select>
            @if (addressForm.controls['dieType'].hasError('required')) {
            <mat-error>Il tipo dello stampo è <strong>obbligatorio</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col" multiple>
            <mat-label>Materiale</mat-label>
            <mat-select formControlName="material">
              @for (mat of MaterialTypeHelper.getValues(); track mat) {
                <mat-option [value]="mat">{{mat}}</mat-option>
              }
            </mat-select>
            @if (addressForm.controls['material'].hasError('required')) {
            <mat-error>Il materiale è <strong>obbligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>

        <mat-card class="mt-2">
          <mat-card-header>
            <mat-card-title style="font-size: 1rem;">Dimensioni Generali</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row mt-2">
              <mat-form-field class="col">
                <mat-label>Altezza</mat-label>
                <input type="number" matInput formControlName="totalHeight">
                @if (addressForm.controls['totalHeight'].hasError('required')) {
                <mat-error>L'altezza è <strong>obbligatoria</strong></mat-error>
                }
                @else if (addressForm.controls['totalHeight'].hasError('min')) {
                <mat-error>L'altezza non può essere <strong>negativa</strong></mat-error>
                }
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>Larghezza</mat-label>
                <input type="number" matInput formControlName="totalWidth">
                @if (addressForm.controls['totalWidth'].hasError('required')) {
                <mat-error>La larghezza è <strong>obbligatoria</strong></mat-error>
                }
                @else if (addressForm.controls['totalWidth'].hasError('min')) {
                <mat-error>La larghezza non può essere <strong>negativa</strong></mat-error>
                }
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col">
                <mat-label>Larghezza Scarpetta</mat-label>
                <input type="number" matInput formControlName="shoeWidth">
                @if (addressForm.controls['shoeWidth'].hasError('required')) {
                <mat-error>La larghezza della scarpetta è <strong>obbligatoria</strong></mat-error>
                }
                @else if (addressForm.controls['shoeWidth'].hasError('min')) {
                <mat-error>La larghezza della scarpetta non può essere <strong>negativa</strong></mat-error>
                }
              </mat-form-field>
              <mat-form-field class="col">
                <mat-label>Larghezza Cresta</mat-label>
                <input type="number" matInput formControlName="crestWidth">
                @if (addressForm.controls['crestWidth'].hasError('required')) {
                <mat-error>La larghezza della cresta è <strong>obbligatoria</strong></mat-error>
                }
                @else if (addressForm.controls['crestWidth'].hasError('min')) {
                <mat-error>La larghezza della cresta non può essere <strong>negativa</strong></mat-error>
                }
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>

      </mat-card-content>
      <mat-card-actions style="flex-direction: row-reverse;">
        <button class="mt-2" mat-raised-button color="primary" type="submit">Crea</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>