<div class="grid-container">

  <form class="row mb-4" [formGroup]="serachForm" novalidate (ngSubmit)="performSearch()">

    <div class="row">
      <mat-form-field class="col">
        <mat-label>Codice stampo o alias</mat-label>
        <input matInput placeholder="Stampo1 aliasA aliasB..." formControlName="names">
        <button mat-icon-button matSuffix color="primary" type="button" (click)="advancedSearch = !advancedSearch">
          <mat-icon>{{ advancedSearch ? "expand_less" : "expand_more" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    @if (advancedSearch) {
    <mat-card @advancedSearchTrigger>
      <mat-card-content>
        <div class="row justify-content-center align-items-center">
          <div class="col-auto mb-2">
            <mat-card style="max-width: 150px;">
              <mat-card-content>
                <div class="position-relative">
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <button mat-fab color="primary" [disabled]="serachForm.controls['dieData'].disabled"
                      (click)="openDialog()">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <img style="width: -webkit-fill-available;" [src]="imageURL">
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col">
            <div class="row justify-content-center">
              <mat-form-field class="col-md-4">
                <mat-label>Clienti</mat-label>
                <mat-select formControlName="customers" multiple>
                  <mat-select-trigger>
                    {{serachForm.controls["customers"].value?.[0] || ''}}
                    @if ((serachForm.controls["customers"].value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{(serachForm.controls["customers"].value?.length || 0) - 1}}
                      {{serachForm.controls["customers"].value?.length === 2 ? 'altro' : 'altri'}})
                    </span>
                    }
                  </mat-select-trigger>
                  @for (customer of customerList; track customer) {
                  <mat-option [value]="customer">{{customer}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                <mat-label>Materiale</mat-label>
                <mat-select formControlName="materials" multiple>
                  <mat-select-trigger>
                    {{serachForm.controls["materials"].value?.[0] || ''}}
                    @if ((serachForm.controls["materials"].value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{(serachForm.controls["materials"].value?.length || 0) - 1}}
                      {{serachForm.controls["materials"].value?.length === 2 ? 'altro' : 'altri'}})
                    </span>
                    }
                  </mat-select-trigger>
                  @for (material of MaterialTypeHelper.getValues(); track material) {
                  <mat-option [value]="material">{{material}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                <mat-label>Tipo Stampo</mat-label>
                <mat-select formControlName="dieTypes" multiple>
                  <mat-select-trigger>
                    {{serachForm.controls["dieTypes"].value?.[0] || ''}}
                    @if ((serachForm.controls["dieTypes"].value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{(serachForm.controls["dieTypes"].value?.length || 0) - 1}}
                      {{serachForm.controls["dieTypes"].value?.length === 2 ? 'altro' : 'altri'}})
                    </span>
                    }
                  </mat-select-trigger>
                  @for (dieType of DieTypeHelper.getValues(); track dieType) {
                  <mat-option [value]="dieType">{{dieType}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <div class="mt-2 row justify-content-center">
              <mat-form-field class="col-sm-5 col-md-3">
                <mat-label>Altezza</mat-label>
                <input type="number" matInput formControlName="totalHeight">
              </mat-form-field>

              <mat-form-field class="col-sm-5 col-md-3">
                <mat-label>Larghezza Totale</mat-label>
                <input type="number" matInput formControlName="totalWidth">
              </mat-form-field>

              <mat-form-field class="col-sm-5 col-md-3">
                <mat-label>Larghezza scarpetta</mat-label>
                <input type="number" matInput formControlName="shoeWidth">
              </mat-form-field>

              <mat-form-field class="col-sm-5 col-md-3">
                <mat-label>Larghezza cresta</mat-label>
                <input type="number" matInput formControlName="crestWidth">
              </mat-form-field>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
    }

    <div class="d-flex justify-content-center mt-3">
      @if (serachForm.dirty) {
      <button class="m-1" mat-raised-button color="warn" (click)="clearSearch()">
        <mat-icon class="m-0">clear</mat-icon>
      </button>
      }
      <button class="m-1" mat-raised-button color="primary" type="submit">
        <mat-icon class="m-0">search</mat-icon>
      </button>
    </div>
  </form>

  @if (gridView) {
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      @for (die of dies2 | async; track die.id) {
      <div class="col">
        <mat-card class="m-2">
          <mat-card-header>
            <mat-card-title>
              {{ die.name }}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <a [routerLink]="'/die/' + die.id"><img style="width: 100%;" [src]="die | dieImage | async"></a>
          </mat-card-content>
        </mat-card>
      </div>
      }
    </div>
  </div>
  }

  <!-- <mat-grid-list cols="2">
    @for (die of dies | async; track die.id) {
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ die.name }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a [routerLink]="'/die/' + die.id"><img style="width: 100%;" [src]="die.img"></a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
  } -->

  <div class="fab">
    <button class="m-2" mat-fab color="primary" [routerLink]="['/die-similar-search']">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-fab color="primary" [routerLink]="['/die-editor']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>