<div class="grid-container">

  <div class="row align-items-center">
    <mat-form-field class="col">
      <mat-label>Nome/Codice stampo</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>Clienti</mat-label>
      <mat-select [formControl]="customers" multiple>
        <mat-select-trigger>
          {{customers.value?.[0] || ''}}
          @if ((customers.value?.length || 0) > 1) {
          <span class="example-additional-selection">
            (+{{(customers.value?.length || 0) - 1}} {{customers.value?.length === 2 ? 'altro' : 'altri'}})
          </span>
          }
        </mat-select-trigger>
        @for (topping of customerList; track topping) {
        <mat-option [value]="topping">{{topping}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="col-auto">
      <button mat-icon-button (click)="gridView=!gridView">
        @if (gridView) {
        <mat-icon>view_list</mat-icon>
        }
        @else {
        <mat-icon>view_module</mat-icon>
        }
      </button>
      <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align"></div>
    </div>

  </div>

  @if (gridView) {
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      @for (die of dies | async; track die.id) {
      <div class="col">
        <mat-card class="m-2">
          <mat-card-header>
            <mat-card-title>
              {{ die.name }}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <a [routerLink]="'/die/' + die.id"><img style="width: 100%;" [src]="die.img"></a>
          </mat-card-content>
        </mat-card>
      </div>
      }
    </div>
  </div>
  }

  <!-- <mat-grid-list cols="2">
    @for (die of dies | async; track die.id) {
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ die.name }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a [routerLink]="'/die/' + die.id"><img style="width: 100%;" [src]="die.img"></a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
  } -->

  <div class="fab">
    <button class="m-2" mat-fab color="primary" [routerLink]="['/die-similar-search']">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-fab color="primary" [routerLink]="['/die-editor']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>