<h2 mat-dialog-title>Vuoi dare un nome alla ricerca?</h2>
<mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Nome della ricerca</mat-label>
            <input type="text" matInput [formControl]="nameFormControl" placeholder="Nome">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="nameFormControl.value" cdkFocusInitial>Chiudi</button>
</mat-dialog-actions>